.env
logs/
sweep_configs/
__pycache__
cache
openai_cache
poetry.lock
wandb
results
*train.csv
*val.csv
scripts/**/*.log
venv
natural-instructions/
ICIL/
.vscode/
tests/data/output
ICIL
.DS_Store
settings.json

/models
/ckpts
/output
logs
sweep_configs
