[submodule "natural-instructions"]
	path = natural-instructions
	url = https://github.com/allenai/natural-instructions.git
[submodule "lm-evaluation-harness"]
	path = lm-evaluation-harness
	url = https://github.com/EleutherAI/lm-evaluation-harness.git
[submodule "trlx"]
	path = trlx
	url = https://github.com/meg-tong/trlx
[submodule "accelerate"]
	path = accelerate
	url = git@github.com:mbalesni/accelerate.git
